

.text-angsuran{
    color: white;
}
.text-harga{
    font-weight: 600;
    color: rgb(248, 246, 246);
    text-shadow: 2px 0 rgba(3, 3, 3, 0.459);
}

.p-angsuran{
    color: rgb(182, 152, 147);
    font-size: 0.8em !important;
}.ceklis {
    font-size: 2rem;
    background-color: rgb(63, 207, 70);
    border-radius: 20px;
}


/* ======== SLIDE ========= */
